name: Test

on:
  push:
    branches:
      - "master"
      - "develop"
  pull_request:
    types: [ready_for_review, synchronize, opened]

jobs:
    unit:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                # test against latest update of each major Java version, as well as specific updates of LTS versions:
                java: [ 8, 9, 10, 11, 12, 13 ]

        steps:
            - uses: actions/checkout@v2

            - name: Use Java Version ${{ matrix.java }}
              uses: actions/setup-java@v2
              with:
                  java-version: ${{ matrix.java }}
                  distribution: 'adopt'

            - name: Install
              run: gradle dependencies

            - name: Test
              run: gradle test && gradle jacocoTestReport

            - name: Codecov
              run: bash <(curl -s https://codecov.io/bash) -t ${{ secrets.CODECOV_TOKEN }}
